.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button:focus {
  outline: none;
}

/* Main */

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

/* Main */

/* Section result */

fieldset {
  border: 0 none;
}

.result {
  height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding-bottom: 5px;
}

.search-form__textfield {
  width: 225px;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  display: flex;

  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin: 1px auto;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__label-text {
  padding-left: 5px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.button {
  background-color: transparent;
  border: 0;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Section result */

/* Section content__details */

.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;
}

.title {
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow: hidden scroll;
}

/* Section content__details */

/* template */

/* cards */

.content__list-item:not(:last-of-type) {
  padding-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link:has(.content__video-card-thumbnail:hover) {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 394px;
}

.content__video-card-title {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button {
  width: 399px;
  height: 34px;
  margin: 2px;
}

/* cards */

/* template */
